<div class="container">
    <form class="d-flex justify-content-center">
        <div style="margin-top: 10px;">
            <mat-form-field appearance="fill" style="margin-right: 5px;">
                <mat-label>Source Currencies</mat-label>
                <mat-select [(ngModel)]="source" name="source">
                    <mat-option *ngFor="let food of source_currencies" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon>trending_flat</mat-icon>
            <mat-form-field appearance="fill" style="margin-left: 5px;">
                <mat-label>Target Currencies</mat-label>
                <mat-select [(ngModel)]="target" name="source">
                    <mat-option *ngFor="let food of source_currencies" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button (click)="selected()" style="margin-left: 5px;" class="submit-btn"><mat-icon>send</mat-icon></button>
        <!-- <input type="submit" (click)="selected()" value="Submit" class="btn btn-light" style="margin-left: 5px;"> -->
    </form>
    <div *ngIf="visible">
        <div [style.visiblity]="buyVisiblity">
            <table id="tableBuy" matSort (matSortChange)="sortData($event)" class="table table-striped table-dark table-bordered">
                <thead>
                    <tr>
                        <th mat-sort-header="name">
                            Name
                        </th>
                        <th mat-sort-header="buy_cash">
                            Buy Cash
                        </th>
                        <th mat-sort-header="buy_card">
                            Buy Card
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataItem of sortedData">
                        <td>
                            <a href="{{dataItem.site}}"> {{ dataItem.name }}</a>
                        </td>
                        <td>
                            {{ dataItem.buy_card }}
                        </td>
                        <td>
                            {{ dataItem.buy_cash }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div [style.visiblity]="sellVisiblity">
            <table id="tableSell" matSort (matSortChange)="sortData($event)" class="table table-striped table-dark table-bordered">
                <thead>
                    <tr>
                        <th mat-sort-header="name">
                            Name
                        </th>
                        <th mat-sort-header="sell_cash">
                            Sell Cash
                        </th>
                        <th mat-sort-header="sell_card">
                            Sell Card
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataItem of sortedData">
                        <td>
                            <a href="{{dataItem.site}}"> {{ dataItem.name }}</a>
                        </td>
                        <td>
                            {{ dataItem.sell_cash }}
                        </td>
                        <td *ngIf="dataItem.sell_card != -1">
                            {{ dataItem.sell_card }}
                        </td>
                        <td *ngIf="dataItem.sell_card == -1">
                            --
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-graphs></app-graphs>
    </div>
</div>