<div class="container">
    <p>forex works!</p>
    {{ forexValues.providers }}
    <!-- <li *ngFor = "let i in forexValues.providers">
    {{ i.aud }}
    <br>
    {{ i.lastupdated }}
    <hr>
</li> -->
    <form>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Source currency</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="source_currency">
                <mat-option *ngFor="let c of source_currencies" [value]="c.value" *ngIf="!c.selected">
                    {{c.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <p>Source Currency</p>
        <select name="source_currency" [(ngModel)]="source" id="source_currencies">
            <option value="inr">INR</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="aud">AUD</option>
          </select>
        <p> source currency: {{source}} </p>

        <p>target Currency</p>
        <select name="source_currency" [(ngModel)]="target" id="source_currencies">
            <option value="inr">INR</option>
            <option value="usd">USD</option>
            <option value="eur">EUR</option>
            <option value="aud">AUD</option>
          </select>
        <p> target currency: {{target}} </p>
        <input type="submit" (click)="selected()" value="Submit">
    </form>
    <!-- <table class="table table-striped table-dark table-bordered">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Site
                </th>
                <th>
                    USD
                </th>
                <th>
                    EUR
                </th>
                <th>
                    GBP
                </th>
                <th>
                    AUD
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of forexValues.providers">
                <td>
                    {{ dataItem.currency }}
                </td>
                <td>
                    {{ dataItem.lastupdated }}
                </td>
                <td>
                {{ dataItem.usd }}
            </td>
            <td>
                {{ dataItem.eur }}
            </td>
            <td>
                {{ dataItem.gbp }}
            </td>
            <td>
                {{ dataItem.aud }}
            </td>
            </tr>
        </tbody>

    </table> -->
</div>