.submit-btn {
    background: rgb(0, 0, 0);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}