<!-- <table>
    <tr>
        <td>
            <div style="display: block">
                <canvas #buyCard>{{ chart }}</canvas>
            </div>
        </td>
        <td>
            <div style="display: block">
                <canvas #buyCash>{{ chart }}</canvas>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="display: block">
                <canvas #sellCard>{{ chart }}</canvas>
            </div>
        </td>
        <td>
            <div style="display: block">
                <canvas #sellCash>{{ chart }}</canvas>
            </div>
        </td>
    </tr>
</table> -->

    <div style="display: block">
        <canvas #buyCard>{{ chart_buyCard }}</canvas>
    </div>
    <div style="display: block">
        <canvas #buyCash>{{ chart_buyCash }}</canvas>
    </div>
    <div style="display: block">
        <canvas #sellCard>{{ chart_sellCard }}</canvas>
    </div>
    <div style="display: block">
        <canvas #sellCash>{{ chart_sellCash }}</canvas>
    </div>

    <div style="display: block">
        <canvas #LiveCurrency>{{ LiveCurrency }}</canvas>
    </div>

