<img src="/assets/demo2.png" alt="Paris" width="80" height="80" class="center">

<h1><b>AFForex</b></h1>
<h3 class="d-flex justify-content-center"><i>Affordable Forex!</i></h3>
<div class="warpper">
    <input class="radio" id="one" name="group" type="radio" checked>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <div class="tabs" style="margin-bottom: 15px;">
        <label class="tab" id="one-tab" routerLink="forexProvider" for="one">Forex Conversion</label>
        <label class="tab" id="two-tab" routerLink="graphs" for="two">Live Currency/ Predictions</label>
        <label class="tab" id="three-tab" routerLink="subscribe" for="three">Subscribe</label>
    </div>
</div>
<router-outlet></router-outlet>


<div class="container">
    <!-- 
    <h3 class="d-flex justify-content-center">Angular 10, Web API, SQL Server App Demo </h3>
    <h5 class="d-flex justify-content-center">Employee Management Portal</h5> -->

    <!-- <nav class="navbar navbar-expand navbar-light no--padding flex-column flex-md-row flex-lg-row flex-xl-row">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <button routerLink="forexProvider" class="btn btn-info" Button>Forex Conversion</button>
            </li>
            <li class="nav-item active">
                <button routerLink="graphs" class="btn btn-info" Button>Graphs</button>
            </li>
            <li class="nav-item">
                <button routerLink="chat" class="m-1 btn btn-light btn-outline-primary" Button>chat</button>
            </li>
        </ul>
    </nav> -->

    <!-- <router-outlet></router-outlet> -->
    <button class="chat-btn" (click)="toggle()"> 
        <i class="material-icons"> comment </i>
    </button>
    <!-- <button (click)="toggle()">Chat</button> -->
    <div *ngIf="isVisible">
        <app-chat></app-chat>
    </div>
</div>